{% extends "base.html" %}
{% block body %}
<div class="border-top card pt-3">
   <h2 style="color:white;">Contact us</h2>
   <div class="container">
      <div class="row">
         <div class="col-sm">
            <h1>Phone</h1>
            <p style="color: white;">508-965-5254</p>
            <h1>Address</h1>
            <p style="color: white;">508-965-5254</p>
            <h1>Email</h1>
            <p style="color: white;">508-965-5254</p>
         </div>
         <div class="col-sm">
            <div id="station-map"></div>
         </div>
      </div>
   </div>
</div>
{% endblock %}
COPY TO CLIPBOARD	 SELECT ALL
