{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block body %}
<div class="w3-row">
<div class="w3-col m5  w3-center " style="margin-left: 30%;  font-size: 20px;">
   <h2>LOGIN</h2>
   <hr>
   <div class="content-section">
      <form method="POST">
         {% csrf_token %}
         <fieldset class="form-group">
            {{ form|crispy }}
         </fieldset>
         <div class="form-group">
            <button class="btn btn-outline-info" type='submit'>Log In</button>
         </div>
      </form>
      <div class="border-top pt-3">
         <small class="text-muted">
         Need An Account? <a class="ml-2" href="{% url 'register' %}">Register</a>
         </small>
      </div>
   </div>
</div>

{% endblock %}
