{% extends "base.html" %}
{% load static %}

{% block body %}
<body style="background-color:black;">



<div class="jumbotron">
  <div class="container text-center">
    <h1>Sensors</h1>
    <p>Customize, Expand & Monitor</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-primary">
        <div class="panel-heading">Humidity Sensor</div>
        <div class="panel-body"><img src="static/img/starter_kit.jpg" height=300 width=200  class="img-responsive"  alt="Image"></div>
        <div class="panel-footer">Purchase</div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-primary">
        <div class="panel-heading">Water Temperature</div>
        <div class="panel-body"><img src="static/img/adv_kit.jpg" height=250 width=200 class="img-responsive" alt="Image"></div>
        <div class="panel-footer">Purchase</div>
      </div>
    </div>
  </div>
</div><br>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">Humidity Sensor</div>
        <div class="panel-body"><img src="static/img/hum.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Purchase</div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">Water Temperature</div>
        <div class="panel-body"><img src="static/img/water.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Purchase</div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">Moisture</div>
        <div class="panel-body"><img src="static/img/moist.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Purchase</div>
      </div>
    </div>
  </div>
</div><br>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">TDS</div>
        <div class="panel-body"><img src="static/img/tds.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Purchase</div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">Barometric</div>
        <div class="panel-body"><img src="static/img/baro.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Purchase</div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">pH Sensor</div>
        <div class="panel-body"><img src="static/img/hum.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Purchase</div>
      </div>
    </div>
  </div>
</div><br><br>

<footer class="container-fluid text-center">
  <p>Online Store Copyright</p>
  <form class="form-inline">Get deals:
    <input type="email" class="form-control" size="50" placeholder="Email Address">
    <button type="button" class="btn btn-danger">Sign Up</button>
  </form>
</footer>

</body>
</html>
{% endblock %}
